*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%; 
    margin: 0; 
}
#main{
    height: 100%;
    width: 100%;
}

#parent {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

#child1{
    height: 300px;
    width: 300px;
    background-color: crimson;
    border: 5px solid #000;
}
#child2{
    height: 300px;
    width: 300px;
    background-color: crimson;
    border: 5px solid #000;
}
#child3{
    height: 300px;
    width: 300px;
    background-color: crimson;
    border: 5px solid #000;
}

@media (max-width : 700px){
    #child1{
        background-color: violet;
    }
    #child2{
        background-color: orange;
    }
    #child3{
        background-color: black;
    }
}